
footer .logo-font {
    color: #007bff; /* Màu xanh */
    font-weight: bold; /* Đậm */
    margin-right: 10px; /* Cách chữ sau 10px */
}

.attribution{
    color: gray;
    font-size: 0.9em;
}

.attribution a {
    color: gray;
    font-size: 0.9em;
}

.attribution a :hover {
   text-decoration: underline;
   color:#5cb85c ;
}

.container{
    padding: 30px 0px;
}

